
/* generell kod */
.normal{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 1fr 1fr 6vh;
    grid-template-areas: 
    'hd hd'
    'as as'
    'ma ma'
    'fo fo';
    column-gap: 5px;
    background-color: lightgray;

}

.showcase{
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 10vh auto auto auto 7vh;
    grid-template-areas: 
    'hd hd hd hd'
    'se se se se'
    'se se se se'
    'se se se se'
    'fo fo fo fo';
    column-gap: 5px;
    background-color: lightgray;

}

header{
    display: flex;
    align-items: center;
    grid-area: hd;
    background-color: gainsboro;
    grid-template-columns:'hd hd hd hd';
    justify-content: space-between;
}


footer{
    display: flex;
    grid-area: fo;
    background-color: gainsboro;
    justify-content: space-between;

}
      
aside{
    display: flex;
    grid-area: as;
    background-color: white;
}

main{
    display: flex;
    flex-direction: column;
    grid-area: ma;
    background-color: white;
}

#input{
  align-self: flex-start;  
}

.menu{
    height: 100vh;
    width: 80vw;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: -90vw;
    transition: right 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 1.5rem;
}

.menu-items{
    font-size: 35px;
    color: black;
    text-decoration: none;
}

.show{
    right: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.showcase-text{
    display: grid;
    align-content: center;
    justify-content: center;
}


/* mobil */
@media screen and (max-width:500px) {

    .showcase{
    height: 284vh;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 10vh auto auto auto auto auto auto 7vh;
    grid-template-areas: 
    'hd hd'
    'se se'
    'se se'
    'se se'
    'se se'
    'se se'
    'se se'
    'fo fo';
    column-gap: 5px;
    background-color: lightgray;
    }

    .battalion{
    width: 192px;
    }

    
    section{
    display: grid;
    grid-area: se;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 183vh;
}

}






/* desktop */

@media screen and (min-width:501px) {

    .showcase{
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 10vh auto auto auto 7vh;
    grid-template-areas: 
    'hd hd hd hd'
    'se se se se'
    'se se se se'
    'se se se se'
    'fo fo fo fo';
    column-gap: 5px;
    background-color: lightgray;
    }

    .battalion{
        width: 200px;
    }

    section{
    display: grid;
    grid-area: se;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    }
}

